<h3 class="mb-3" *ngIf="!greetings"> Welcome!</h3>
<h3 class="mb-3" *ngIf="greetings"> {{ greetings }}!</h3>
<div class="card">
  <h3 class="card-header bg-light text-center">Free up your mental space</h3>
  <div class="card-body text-center font-italic">
    <p class="card-text">Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no matter where you are or what device you use)</p>
    <blockquote><b>**Begin managing your tasks today! It's simple, sign up and begin clearing your head by creating Task Groups and Tasks!**</b></blockquote>
  </div>
</div>
